body  {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #c8102e; 
}

.container-lg {
    background-color: #c8102e;
}


#secret {
    color: #c8102e !important;
}

.nav-link{
    border-radius: 10px;
    color: #ffffff !important;
}

.nav-link:hover {
    background-color: #ffffff !important;
    color: #c8102e !important;
}

#menu {
    border: 20px #f5f5f5 solid;
    border-radius: 30px;
}

h1 {
    font-weight: 900;
    background-color: #c8102e;
    color: #ffffff;
    margin: 0;
}

h2 {
    padding-top: 20px;
}

.subtext {
    vertical-align: sub;
    font-size: smaller;
    font-style: italic;
}

.row {
    background-color: #ffffff;
}

br {
    background-color: #ffffff;
}

.beverages {
    border: 4px red solid;
    border-radius: 20px;
}

#combo {
    padding-top: 20px;
}

.menuLabel {
    font-weight: bold;
}

ul {
    margin-bottom:0.2em;
}